body {
  --bg-tint: linear-gradient(
                rgba(0, 0, 0, 0.30),
                rgba(0, 0, 0, 0.30)
              );

  &.cloudy {
    background-image: url("./../bg_images/cloudy_background.jpg");
  }

  &.sunny {
    background: var(--bg-tint), url("./../bg_images/sunny_background.jpg");
    background-position: 50% 10%;
  }

  &.snowy {
    background: var(--bg-tint), url("./../bg_images/snowy_background.jpg");
    background-position: 60% 20%;
  }

  &.rainy {
    background: var(--bg-tint), url("./../bg_images/rainy_background.jpg");
    background-position: 50% 80%;
  }

  &.stormy {
    background: var(--bg-tint), url("./../bg_images/stormy_background.jpg");
    background-position: 90% 20%;
  }

  &.night {
    background: var(--bg-tint), url("./../bg_images/night.jpg");
    background-position: 30% 5%;
  }

  &.cloudyNight {
    background: linear-gradient(
                  rgba(0, 0, 0, 0.10),
                  rgba(0, 0, 0, 0.10)
                ),
                url("./../bg_images/cloudy_night_background.jpg");
    background-position: 30% 5%;
  }

  &.misty {
    background: var(--bg-tint), url("./../bg_images/misty_background.jpg");
    background-position: 70% 30%;
  }
}
