.weather {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-bg);
  margin: 0 auto;
  border-radius: var(--border-radius);
  padding: var(--space-m);
  opacity: 0.9;

  &__icon {
    margin-bottom: var(--space-m);

    &__description:before, &__description:after {
      content: " - "
    }
  }

  & svg {
    height: 48px;
    width: 48px;
  }

  @include media(tabletAndUp) {
    max-width: 40rem;
  }
}
