.weather {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-bg);
  margin: 0 auto;
  border-radius: var(--border-radius);
  padding: var(--space-m);
  opacity: 0.95;

  & h1 {
    margin-bottom: var(--space-s);
    text-align: center;
  }

  &__time {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-xs);

    &__clock {
      font-weight: bold;
      font-size: var(--text-l);
    }
  }

  &__icon {
    margin-bottom: var(--space-m);

    &__description {
      font-size: var(--text-xl);
    }

    &__description:before, &__description:after {
      content: " - "
    }
  }

  & svg {
    height: 48px;
    width: 48px;
  }

  &__info-section {
    align-items: center;
    display: flex;
    flex-direction: column;

    & dt {
      font-weight: bold;
      font-size: var(--text-xl);
    }

    & dd {
      font-size: var(--text-l);
      margin-bottom: var(--space-m);
    }
  }

  @include media(tabletAndUp) {
    max-width: 40rem;
  }
}
